.detailContainer {
  display: flex;
  flex-direction: row;
}

.details {
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 60px;
  padding: 40px;
}

.detailContent ul {
  width: auto;
  background-color: #fff;
  list-style: none;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  margin: 50px;
  box-shadow: 8px 5px 4px #23262c;
}

.leftImg {
  margin: 60px;
}
